input[type="text"], input[type="password"], input[type="email"],
input[type="tel"], input[type="search"], input[type="url"], select, textarea {
    background: white;
    color: black;
}

textarea {
    resize: none;
}