.button.special.active {
    background-color: #A9A9A9;
    color: black;
}

.navbar-collapse {
    text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}

 .button.special:hover {
    background-color: #53e3fb !important;
    text-decoration: underline;
}

